{% extends 'template.html.twig' %}

{% block title %}
{{ firstname }} {{ name }}
{% endblock %}

{% block body %}
    <h1>with love from {{ firstname}} {{ name }}</h1>
    <p>Bonjour Techwall sf6</p>
{% endblock %}
