{% extends 'heritage.html.twig' %}

{% block titreDocument %}
    Nouveau titre
{% endblock %}

{% block corpDocument %}
    <ol>
        <li>Nouveau contenu</li>
        <li>J'adore l'héritage dans twig</li>
    </ol>
{% endblock %}